<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2017. Stratio Big Data Inc., Sucursal en España. All rights reserved.

    This software – including all its source code – contains proprietary information of Stratio Big Data Inc., Sucursal
    en España and may not be revealed, sold, transferred, modified, distributed or otherwise made available, licensed
    or sublicensed to third parties; nor reverse engineered, disassembled or decompiled, without express written
    authorization from Stratio Big Data Inc., Sucursal en España.

-->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.stratio.mesos" level="debug"
            additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>