<!--

    Copyright (c) 2017. Stratio Big Data Inc., Sucursal en España. All rights reserved.

    This software – including all its source code – contains proprietary information of Stratio Big Data Inc., Sucursal
    en España and may not be revealed, sold, transferred, modified, distributed or otherwise made available, licensed
    or sublicensed to third parties; nor reverse engineered, disassembled or decompiled, without express written
    authorization from Stratio Big Data Inc., Sucursal en España.

-->
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>